<div class="container" >
  <div class="row row-content">
    <div class="form col-12">
      <form [formGroup]="form" (ngSubmit)="login()">
        <div class="form-group row">
          <label for="username" class="col-md-2">Username</label>
          <div class="col-md-6">
            <input formControlName="username" type="text" class="form-control" id="username">
          </div>
          <div class="text-danger col-md-4" *ngIf="form.get('username').touched && form.get('username').invalid" >Username is required</div>
        </div>
        <div class="form-group row">
          <label for="password" class="col-md-2">Password</label>
          <div class="col-md-6">
            <input formControlName="password" type="password" class="form-control" id="password">
          </div>
          <div class="text-danger col-md-4" *ngIf="form.get('password').touched && form.get('password').invalid" >Password is required</div>
        </div>
        <button [disabled]="isValidInput()" type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
    <div *ngIf="form.errors" class="alert alert-danger error">
      Invalid Username or Password! Please fill the necessary details correctly.
    </div>
  </div>
</div>
