<div class="container" >
  <div class="row row-content">
    <div class="form col-12">
      <form [formGroup]="form" (ngSubmit)="signup()">
        <div class="form-group row">
          <label for="username" class="col-md-2">Username</label>
          <div class="col-md-6">
            <input formControlName="username" type="text" class="form-control" id="username">
          </div>
          <div class="text-danger col-md-4" *ngIf="username.touched && username.invalid" >
            <p *ngIf="username.errors.required">Username is required</p>
            <p *ngIf="username.errors.minlength">Minimum required length is {{username.errors.minlength.requiredLength}}</p>
            <p *ngIf="username.errors.maxlength">Maximum required length is {{username.errors.maxlength.requiredLength}}</p>
          </div>
        </div>
        <div class="form-group row">
          <label for="password" class="col-md-2">Password</label>
          <div class="col-md-6">
            <input formControlName="password" type="password" class="form-control" id="password">
          </div>
          <div class="text-danger col-md-4" *ngIf="password.touched && password.invalid" >
            <p *ngIf="password.errors.required">Password is required</p>
            <p *ngIf="password.errors.minlength">Minimum required length is {{password.errors.minlength.requiredLength}}</p>
          </div>
        </div>
        <button [disabled]="isValidInput()" type="submit" class="btn btn-primary">SignUp</button>
        <p class="message">Already have an account? <a routerLink="/login">Login here.</a></p>
      </form>
    </div>
    <div *ngIf="form.errors" class="alert alert-danger error">
      Username is taken. Use another username for use.
    </div>
  </div>
</div>
